<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="/css/bulma.min.css">
        <title>This is title</title>
    </head>
    <body>
        <input class="input" type="text" id="username" placeholder="username" style="width: 30%"></input>
        <a class="button is-link" id="connectButton">connect</a>
        <script src="/js/client.js"></script>
    </body>
</html>